<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label *ngIf="variable">
    Label: {{variable}}
  </ion-label>
  <ion-input [(ngModel)]="variable" (click)="comprobar()">Input</ion-input>
  <!-- <ion-label (click)="comprobar()">LabelEvento</ion-label>
  <h1 (click)="comprobar()">h1Evento</h1> -->

  <ul *ngFor="let estacion of arrayEstaciones">
    <li (click)="escuchar(estacion.nombre)">{{estacion.nombre}}</li>
  </ul>
  <ion-button (click)="irASaludaCliente()">SaludarCliente</ion-button>
  <div *ngFor="let persona of array">
    <ion-label>{{persona.nombre}}</ion-label>
  </div>

  <ion-label>{{obtenerNumero()}}</ion-label>
  <ion-button (click)="aumentarNumero()">+</ion-button>
  <ion-button (click)="navegarMock()">Mock</ion-button>
</ion-content>
